[2015-03-11 07:41] fouweric opened #1 "Milestones, workload distribution"
Following our [Project Proposal][pp], we should create here
- [ ] Milestones
- [ ] Issues
- [ ] Attribute these issues to people

in order to start the work asap.

[pp]: https://docs.google.com/document/d/1Rt_N2XSz32y1PYaXiwmkHtMdoBA12iGWu1YdpNn1Yu4/edit?usp=sharing

[2015-03-11 07:45] fouweric commented on #1
@patceline You are the one assigned to the task, but of course, this should be solved in a common effort ;)
Do you have any wishes on how to organize milestones/issues?
Furthermore, should our TA be part of this github repo?

[2015-03-11 22:09] agulfy commented on #1
I think an invite won't hurt

Since there was no movement on writing milestones, I proposed some milestones/deadlines at the wiki. I had us diplomacy dataset in my mind while writing these deadlines - and assumed that the majority of the students will start working on this dataset after 14 April when War Diaries aggregations are completed and we move on to the "third part". Any opinions?

31 March

[2015-03-11 22:11] patceline opened #2 "First deadline: next Tuesday"
Hey all, as said before, we need to get moving with our project.

The first thing we need to do is to get everything set up.

We need to get the data, create a database and start looking at algorithms that we can use. If you are good at one of these things, let me know. I will assign tasks to people tomorrow if I haven't heard back from you (except those who already contacted me)

[2015-03-11 22:16] patceline commented on #1
Hey, thanks for this! I think it's good, but I do think we should try to be done with the first point sooner (we should at least try). Maybe march 24? This gives us 2 weeks. Then we can have more time for the other tasks

[2015-03-11 22:19] fbriant commented on #2
You said "create a database", will we use the course cluster ?

I'm not particulary expert at any of these, but as I said you can assign me any task ;-)

[2015-03-11 22:21] agulfy commented on #1
March 24 could work as long as we assign tasks asap (until this weekend?).
War diaries group needs to do some crawling to get the data if I remember correcly- that's why I postponed the deadline a little.

[2015-03-11 22:48] fouweric commented on #2
@fbriant The course cluster is the only solution, or =)) ?

[2015-03-11 22:59] fouweric commented on #1
Cool Plan :+1:
We can extend the milestone if needed :=)

[2015-03-12 07:01] fbriant commented on #2
@fouweric I supposed so,  at least I think it is the simplest one ;-)

[2015-03-12 09:44] HKassir72 commented on #2
Yes we can upload the data to the HDFS cluster, but then we can process it with Hadoop, Spark, or other software tools.

[2015-03-13 14:20] fouweric opened #3 "Settup the plusD plan"
The first task for this group is to
- [x] settup the plan

Actual group: @agulfy ,@fouweric
Post here if you are interested in joining.

[2015-03-13 14:25] fouweric commented on #3
@agulfy said (by mail)

We basically have few options:
- Cut our losses and work with whatever we have.
- Have two teams work on seperate problems:
    - Workpackage 1: Other cables are still available on the website similar to https://www.wikileaks.org/plusd/cables/1973ROME11385_b.html We can try to crawl the website and parse these documents. Assign a 2-3 person group on crawling and cleaning th

[2015-03-13 14:27] fouweric commented on #3
@agulfy said (by mail)

By the way,
The previous cablegate dataset is also available as sql dump. so it is almost trivial to import it into any database.
https://archive.org/download/WikileaksWarDiarySql/afg-war-diary.sql.7z

[2015-03-13 14:28] fouweric commented on #3
@fouweric said (by mail)

Then, should we first explore and compare the .torrent and the wikileaks website to evaluate the assumption of WP2:
- << Workpackage 2: Assuming we will have a common data schema when WP1 is finished" .. >>

Can we reformulate this hypothesis to:
- there exists a common representation for the cablegate and the (Kissinger, Carter) cables ?

[2015-03-13 14:30] fouweric commented on #3
@agulfy said (by mail)

(id, date, refid, classification, origin, destination, header, content) The csv has these attributes, and kissinger cables also have the same attributes on their relevant webpage. So I think your re-wording is accurate.

But I have to note that the websites contain more information than what is given on the csv/sql dump. One of the more interesting features in the website i

[2015-03-13 14:50] fouweric commented on #3
Moving a mail thread to github is a bit painful :laughing:
Ok, let's continue to discuss the plan here.

I agree. The website contains a lot more *useful information* and crawling becomes inevitable.

Then, we should begin by creating a data crawling (script/mapreduce/spark/other?) application?

[2015-03-13 15:41] agulfy commented on #3
I will try to divide the work a little here...
We can have two applications, one to download everything in html and another to parse the html document and extract useful bits. I think that's reasonable. What's your opinion?

@patceline and @HKassir72 can you assign 2 more members to this part to do the script or parsing?

We will eventually need to have someone to install/setup the database on the

[2015-03-13 16:34] fouweric commented on #3
I have a small variation of what you proposed @agulfy

From http://search.wikileaks.org/plusd/ , there are
1707500+367174+251287 = 2,325,961 documents

If we download **5 pages** per second
2325961/5/60/60/24 = ~5 days to download them all

If we download **50 pages** per second
2325961/50/60/60/24 = ~12 hours
**100 pages** /sec => ~6 hours etc..

- Point 1: we will really benefit from paralleliza

[2015-03-13 16:49] agulfy commented on #3
I agree on point 1...

On page ids:
I think blindly trying to figure out valid page_ids is unnecessary.
We can have the full list of results with: https://www.wikileaks.org/plusd/?q=&qtfrom=1966-01-01&qtto=2010-12-31#result Clicking on "next 500" *a few (heh)* times is easy with javascript and then you can get all page_ids from the resulting file.

Do we really need to save all html files in a db?

[2015-03-13 18:27] fouweric commented on #3
Yes, it is a bad idea to guess page ids :)
And true, we can extract them from list of results.
Yes sorry, saving HTML files to dB => saving them to hdfs.

But Mhh, you cannot click more than once the "next 500".. Try it :)
You will need another strategy =), and it seems like a non trivial task
which deserves a place in our plan. (?) by the way, I am interested in
taking this task!

Is the plan ok?

[2015-03-13 18:50] agulfy commented on #3
I assumed "next 500" would go indefinitely... How about we modify qtfrom and qtto parameters at url to divide the result page into small chunks?

We can create the issues. I still think that 31 March is a good deadline for both these tasks.

[2015-03-13 22:37] fouweric commented on #3
Yes, it looks like a solution.

Ok, can you create the three tasks?
- Page ids fetching
- HTML fetcher
- HTML parsers

Ok for 31 March :)

[2015-03-14 09:20] agulfy commented on #3
I'm just creating two tasks fyi:

-data crawling: page_ids fetching  & html fetcher (second part is just "$ wget URL" )
-data cleaning: Html parser

I will close this task after we get two more members assigned

[2015-03-14 09:26] agulfy opened #4 "WP1 - PlusD: Data Crawling"
We need a group of 2 or 3 to do some data crawling.

Your task will be to find valid page_ids for diplomatic cables on the wikileaks page. Each diplomatic cable has a reference id in the form of 1973STATE097844_b , you can easily tweak URLs to access the data: http://search.wikileaks.org/plusd/cables/1973STATE097844_b.html

However, in order to gather all the valid page ids, we have to go the sear

[2015-03-14 09:32] agulfy opened #5 "WP2 - PlusD: Data Cleaning"
Requires a group of 2-3 people.

The group responsible for WP1 will generate a directory of html files similar to http://search.wikileaks.org/plusd/cables/1973STATE097844_b.html .

This group needs to implement a parser to extract the important bits. The output will be saved directly into the database.

[2015-03-14 09:33] #3 closed

[2015-03-14 10:26] fbriant commented on #5
I'm interested in joining this group, if you didn't plan otherwise.

Should we consider the classification already done by wikileaks or the raw data to extract the important bits ?

[2015-03-14 15:58] agulfy commented on #5
Sure, nobody is assigned to this task yet.

I didn't quite I understand this

[2015-03-14 16:09] fbriant commented on #5
Yeah sorry, I'm a bit clumsy with english.

First, what do you consider to be the "important bits" ?

It seems, in the HTML page you gave us, that wikileaks has already extracted some "tags" from the raw text (All is in the header box; date, from, to, classification and so on). Should we use this or compute the same results from the original text ?
I realise that my question is a bit dumb, because

[2015-03-14 16:17] fbriant commented on #5
And another question ;

If I understood correctly, these HTML files will be on the cluster right ?
In this case, I think we should probably implement the parser in Java and use the Hadoop Java API (which we had the opportunity to work with thanks to Homework 1).
Do you think this is appropriate ?

[2015-03-15 09:53] fouweric commented on #5
I join you in this task @fbriant .
We can mockup 10 HTML documents on hdfs. (?)
Yes, Hadoop Java API is fine!

[2015-03-15 12:14] fbriant commented on #5
Should we use any API for HTML parsing or implement our own algorithm ?

It seems pretty easy as everything we want (if I understood the task correctly) is in
`<table id="synopsis">`

And should we extract the text of the document as well ?

[2015-03-15 13:04] agulfy commented on #5
I think I will join this task as well.

Let's also get
    <div id="pane-contents"> </div>

for the raw content. And finally
    <table class="references">

for the references.

[2015-03-15 13:50] fouweric commented on #4
Have an idea about this one:
- Create a script to split the interval 1973 - 2010 into XX date-chunks (e.g. yearly for instance: (1973, 1974), (1974, 1975), (1975, 1976), ..., (2009, 2010)) and save each chunk one line of a file "input_dates.txt" ( e.g. date-chunk_1 \n date-chunk_2 \n etc.. )
- "input_dates.txt" is InputFileFormat to a mapreduce task
- the mapper outputs the pairs (..., page_id) fo

[2015-03-15 15:53] fbriant commented on #4
Should I work on this task too ? I thought it would be an other group of people in order to be faster.
But that's no problem for me, I would gladly work on this too.

For your date-chunks

`(1973,1974)`
`(1974,1975)`

you mean the intervals

`from 1st January 1973 to 31st December 1973`
`from 1st Januray 1974 to 31st December 1974`

 right ?

So the reducer get itself the HTML page and save it in

[2015-03-15 16:13] fouweric commented on #4
Haha =P
That's perfectly right. No need to have a reducer, but for the modularization aspect of it.
Ty for your comment! (actually don't need help, but I will cry for it in case I get stuck on the task =p )
cheers,

[2015-03-15 16:40] HKassir72 commented on #4
Guys, you mentioned earlier something about downloading the data directly as SQL, what happened with that idea?

[2015-03-15 16:49] fouweric commented on #4
@HKassir72 The SQL archive?
That was only a subset of the plusD data (the cablegate data)
And the SQL dump does not contain as many informations as the website =))

But its a fallback in case of failure. Have a look at what we discussed in issue #3

[2015-03-16 08:50] fouweric commented on #4
Ahh, just found a way way way more simple solution for this issue.. (without using the dates)
It should be implemented by tonight.

[2015-03-16 17:50] fouweric commented on #4
Arg, there is a bug on the EPFL cluster with the code.
Investigating..

[2015-03-16 18:40] fouweric commented on #4
It has something to do with HDFS (with a local fs, it works perfectly)
Just asked on the forum: http://moodle.epfl.ch/mod/forum/discuss.php?d=196127

[2015-03-17 20:43] fouweric commented on #4
Ok, the bug was only that epfl-workers are not connected to www :laughing:

There are some stats! They were computed on the first 1k documents crawled ran on my machine between 21:07:04 and 21:21:01 => **it took 14min~ to crawl 1k documents on 1 machine.**
- # of documents = 2,325,960
- Each of average size = 55 KB
- in a .gz archive (the actual output of the crawler) = 14 KB
- reduction ratio = 5

[2015-03-17 20:49] agulfy commented on #4
I am reopening this if you don't mind. (and I would rather close it when our initial goal-the directory in the cluster- is reached. So others can be aware of who is responsible for what)

We could assign a group member to deal with tokens, setup hadoop and application on azure, supervising the tasks and moving the directories to the cluster etc, unless you want to take care of everything. Then we

[2015-03-18 09:55] fbriant commented on #4
I will take care of parsing the html output ASAP if that's okay for you ;-)
(sorry for my inactivity these last days)

[2015-03-18 10:17] fbriant commented on #5
May we use external library ?
I found this interesting open source Java library for HTML Parsing : http://jsoup.org/

[2015-03-18 10:46] christophkoch commented on #5
You can use all external libs that you find useful.

[2015-03-18 11:03] fbriant commented on #5
Great thank you. It is indeed simpler with this.
Should we mention anywhere other than the source code that we used it ? Some kind of "libograpy" ?

[2015-03-18 11:06] ElSeidy commented on #5
Yes please keep track of all the libraries that you used, which will be handed in the final report. Later on, you will probably also need to use some NLP algorithms, as mentioned to the group leaders, I would suggest using the Stanford packages
http://nlp.stanford.edu/software/corenlp.shtml

[2015-03-18 11:06] christophkoch commented on #5
Sure, that wouldn't hurt. In any case, the goal is to get the job done. No need to implement stuff you can legally (and freely) find out there.

[2015-03-18 12:11] agulfy opened #6 "WP3 - Schema"
For the output of #5, we need a schema. @bhyassine will be working on this.

[2015-03-18 12:17] agulfy commented on #4
@xPh3n0m

Take a look at this issue and especially my last comment before this. You can find the relevant code on the repo. You *MUST* start running the program by Sunday 22 April. If there is any delay, almost all other tasks will be delayed further. Considering we are already behind the schedule, we can't really have that. Let me or @fouweric  know if you run into any problems.

[2015-03-18 12:25] ElSeidy commented on #4
+1

[2015-03-18 12:25] agulfy opened #7 "WP4 - Library & Algorithm Research"
Now that we have a plan for our data, we need certain tools to help us get there.
@CanGuzelhan @M-Eng have time until our next milestone to find libraries or algorithms that will help us with:

* Ranking the similarity between two documents.
* Extracting topics from documents.

@fouweric @HKassir72 feel free to expand on this :)

[2015-03-18 12:27] #2 closed

[2015-03-18 12:36] #1 closed

[2015-03-18 19:07] fbriant commented on #5
As stated by the last commit, the HTML parsing is ready. However, it is for a local computer, I must modify it for the cluster and a mapreduce task.

[2015-03-19 01:52] fouweric commented on #4
(redirections from the http protocol to https appeared today, making the crawler KO, fixed this unexpected case in the previous commit cee46bc9bdd4208e60bc19851b849693073c5bad)

@xPh3n0m [Here is the crawler as a .jar file.](https://drive.google.com/file/d/0B1F7dUzXsi1wOTdUTGd1MlhXaG8/view?usp=sharing)

Use case: crawl first 100k documents

    hadoop jar cables-crawler.jar app.Crawler 1 100000 &>

[2015-03-19 09:51] xPh3n0m commented on #4
Ok I will try starting the crawl later today. I'll let you know about the status and if I find any issues

[2015-03-19 13:10] xPh3n0m commented on #4
@fouweric I have some issues with the above. I have tried to crawl a small number of pages, but I get no results in the "pages-crawled" folder.

Is the issue discussed here still active: http://moodle.epfl.ch/mod/forum/discuss.php?d=196127

Let me know if I missed something

[2015-03-19 14:00] agulfy commented on #4
Are you trying to run it in the cluster?

[2015-03-19 14:01] xPh3n0m commented on #4
Yes indeed

[2015-03-19 14:09] agulfy commented on #4
Then, it is probably the same issue. We need to do it on another machine. Can you discuss this with the TA to receive instructions on setting up the machine that will do this process.

[2015-03-19 14:25] fouweric commented on #4
@xPh3n0m No, You did perfectly well =)
That's simply because there is no internet connection on epfl cluster :disappointed:

[2015-03-19 14:29] xPh3n0m commented on #4
Ok I asked Mohammed and received this reply from Pr. Koch:

Mohammed, I thought you had talked to the team about this?

Thierry, find a partial mirror of www.wikileaks.org on hdfs:///datasets/www.wikileaks.org.tar
Currently, this contains 320k files. This will get automatically updated with time.

We have requested the Azure passes but have not received them yet.

Mohammed, please talk to the team

[2015-03-19 14:44] xPh3n0m commented on #4
FYI: Mohammed's reply:

We have some crawled HTML pages on the cluster. you find them on the path Christoph mentioned. Most importantly, these are tooo many small files. HDFS is not suitable for that, and this it needs some cleaning, something like merging many of these HTML files in larges ones, to make it easier to operate with.

I dont think the Azure machines is a good idea, it will require a

[2015-03-19 18:29] fouweric commented on #4
Multiple instance of the jar can be run on a machine. The setup required is a single node setup.

Mirror of prof Koch is super set of plusD documents.

Jar outputs HTML or gz. No adaptation inside the Java code possible. Shell script or other can do the job

[2015-03-20 17:21] fouweric commented on #4
Found less than 50k cables of the total 2.3M cables on the epfl-mirror.
Perhaps that's because the cables are accessed via a .php form (?)

I am actually running 100 instances of an adaptation of the initial hadoop crawler. It is a simple java jar version of the hadoop mapreduce.

I began this morning at 10am with 2 initial computers and 20 instances of the crawler running on each.
**There is actu

[2015-03-20 17:48] xPh3n0m commented on #4
Ok I'll try tomorrow

[2015-03-20 21:35] fouweric commented on #4
Cool! Ty!
Update: 690K docs crawled (9GB of .gz)

[2015-03-20 21:36] ElSeidy commented on #4
:+1:

[2015-03-21 07:54] fouweric commented on #4
Update: 1,426K docs crawled (19GB of .gz), current speed: 1010 docs/minute

[2015-03-21 14:13] agulfy commented on #4
No, at least not me.

Can you let me and @fbriant know when the script is ready or how the files will be merged? Depending on the resulting (larger) files, the program for #5 must be modified a little.

[2015-03-21 14:50] fbriant commented on #4
Indeed I will need to modify some stuff !

[2015-03-21 16:32] fouweric commented on #4
What about the following file format :
<<<
N = #of HTML pages in the file
PageID of page 1/N
PageID of page 2/N
PageID of page 3/N
...
PageID of page N/N
Page 1 content
Page 2 content
Page 3 content
...
Page N content
EOF>>>

Each file contains hence 2*N+1 lines

[2015-03-21 16:39] xPh3n0m commented on #4
Ok I will follow the above convention for the script, you can then already adapt your code.

Also, do we have an idea of what is considered as a "small" file?

[2015-03-21 17:10] fbriant commented on #4
Indeed, this format make things easier for the record reader ;-)

[2015-03-22 08:45] xPh3n0m commented on #4
@fouweric can you upload a subset of the html files that you crawled in order to test the script? Thx

[2015-03-22 09:00] fouweric commented on #4
How big should it be?

[2015-03-22 09:05] xPh3n0m commented on #4
Not that big, enough to create a few larger html files, depending on how large big files should be

Are the files organized in folders?

[2015-03-22 09:15] fouweric commented on #4
Can you use the jar in this zip?
https://docs.google.com/file/d/0B1F7dUzXsi1wcWFZakhRdjhRSjg/edit?usp=docslist_api

You can launch it with 2 arguments: from and to.
It's the jar of the crawler which downloads (to - from) documents.

[2015-03-22 11:07] xPh3n0m commented on #4
Ok I added the script on github: https://github.com/patceline/wikileaks-data-analytics/blob/master/groups/plusd/merge_small_files.bash

It uses two arguments:
1. The number of small files to be treated
2.  The approximative size of the larger files

The script will therefore create larger files of about the approx size, and stop when all files are treated or when the first argument is reached.

It

[2015-03-22 13:45] agulfy commented on #7
Distributed Information Systems, Vector Space Model file from week 4, Slide 34 has an algorithm that may be useful here.

[2015-03-22 16:47] fouweric commented on #4
@xPh3n0m Nice:

Update: All documents crawled. Transferring them to icportal2 (will then send a tar of the docs in our team folder in hdfs)

[2015-03-22 18:12] bhyassine opened #8 "Permission Denied"
Hi guys,
I prepared the Design of the database, but when I don't have the permission to push the files, I think that I am not yet assigned as a contributor for this repository.

[2015-03-23 08:32] fouweric commented on #8
@patceline Add @bhyassine to repo or transfer ownership to @HKassir72 so he can do it?

[2015-03-23 11:34] fouweric commented on #4
:+1: 2,014,07**5** documents are now in hdfs:///projects/wikileaks/plusd-raw-crawl.tar (26.7GB of .gz archives)

(Wikileaks says that there are 2.3M docs, in fact, there are 2.3M indexes pointing to a set of 2,014,07**8** documents. Yes, the are three documents indexed but unreachable 1977BOMBAY03008_c, 1977STATE275286_c, 1977TOKYO04712_c)

[2015-03-25 12:42] fouweric commented on #4
@xPh3n0m Can you run your script on the tar?

[2015-03-25 21:14] agulfy commented on #8
Hey @bhyassine, the repo is transferred now. Can you try again and if it doesn't work contact @HKassir72?

[2015-03-26 09:13] xPh3n0m commented on #4
I am doing it right now. About 600,000 html files merged into larger html files of about 100MB, and available on hdfs:///projects/wikileaks/plusd/

[2015-03-28 09:12] xPh3n0m commented on #4
FYI all the html files are available on hdfs:///projects/wikileaks/plusd/

[2015-03-28 22:37] fouweric commented on #4
Super, ty!
@agulfy @fbriant Your turn to bring the data to the DB!

[2015-03-28 22:37] #4 closed

[2015-03-29 10:50] fouweric commented on #8
I am asking @patceline for repo transfer, @bhyassine will give you the rights as soon as I get the ownership.

[2015-03-29 12:45] fouweric opened #9 "Schema to concrete DB"
Bringing the DB schema of issue #6 into a concrete DB.

[2015-03-29 12:45] fouweric commented on #9
@bhyassine As you wrote the schema, do you want to work on this issue?

[2015-03-29 12:47] fouweric commented on #8
Ownership transferred.
@bhyassine You are now a valid collaborator.

[2015-03-29 12:47] #8 closed

[2015-03-29 12:48] fouweric commented on #5
Data is ready on hdfs:///projects/wikileaks/plusd/ (and issue #1 is closed)
You might also depend on issue #9 (not yet done)?

[2015-03-29 20:53] agulfy commented on #5
Great

Yes, the output from the parser (sql insert commands?) depends on #9 .

[2015-03-29 21:45] fbriant commented on #5
Okay !
It will be done by the end of this week.
But indeed, I do need the schema of #9 for my output.

[2015-04-01 21:21] fouweric opened #10 "Sexy name"
Any idea of official name for the project?

[2015-04-01 21:22] fouweric commented on #10
**thirsty-plumbers** ? :laughing:

[2015-04-03 08:41] HKassir72 commented on #9
Guys, so did you decide how your concrete DB will be?
Are you gonna use SPARK and SQL SPARK? Or what do you plan to do.

[2015-04-05 17:54] agulfy commented on #9
not really. by the way @bhyassine does not respond to anything for more than a week. I think I am going to do the schema myself again. It would be great if someone looked into this in the mean time.

[2015-04-05 17:57] agulfy commented on #9
@M-Eng and/or @CanGuzelhan can you help with this?

[2015-04-06 15:59] CanGuzelhan commented on #9
Sure

Envoyé depuis mon HTC

----- Reply message -----
De : "agulfy" <notifications@github.com>
Pour : "fouweric/wikileaks-data-analytics" <wikileaks-data-analytics@noreply.github.com>
Cc : "Güzelhan Can" <can.guezelhan@epfl.ch>
Objet : [wikileaks-data-analytics] Schema to concrete DB (#9)
Date : dim., avr. 5, 2015 19:57

@M-Eng<https://github.com/M-Eng> and/or @CanGuzelhan<https://github.com/CanG

[2015-04-07 08:43] fouweric commented on #9
Didn't yassine committed the scheme last week?

[2015-04-07 11:00] agulfy commented on #9
not seeing anything here

[2015-04-07 11:58] fouweric commented on #9
Yes true, yassine has not commit yet.

[2015-04-07 16:45] fouweric commented on #6
Assuming commit bd7594f8cd4b41b77229fede057b141f7681fe7b closed it

[2015-04-07 16:45] fouweric commented on #9
@agulfy @M-Eng @CanGuzelhan See commit bd7594f8cd4b41b77229fede057b141f7681fe7b

[2015-04-08 15:56] agulfy commented on #6
I have a few questions/suggestions for the schema related to commit 92648dcd8b8dc03c3b01e9486fd23ab669fc007d.

* There is no field for the title of the cable.
* There is no table for "TO:" (receivers of the cable)
* I understand that giving id/types to certain fields such as classifications etc, can save space etc but it makes things messy.

and other stuff. Can you check the commit and come back

[2015-04-08 15:58] agulfy commented on #5
Hey, I did some stuff in 92648dcd8b8dc03c3b01e9486fd23ab669fc007d. @fbriant @xPh3n0m How is the input file stuff?

[2015-04-09 07:55] fouweric opened #11 "Create file specification for saving non-oriented weighted graphs"
Create a file specification for representing non-oriented weighted graphs.
This will allow our programs to output and read such graphs through their associated files.

Formally, the format should be able to
- Represent non-oriented graphs
- with edge weights specification
- with node clusters. i.e. Node v belongs to group Gi

[2015-04-09 07:57] fouweric opened #12 "Build graphs visualizations (web-based)"
Input: graphs as input files as defined in #11
Output: visual display of the graph (compatible with web-technologies: HTML/CSS/JS)

Either
- use an existing one and adapt it to input file format #11
- or create our own with d3.js

[2015-04-09 08:03] fouweric opened #13 "Extend visualization with features"
Extend #12 with features such as
- A slider bar from 0 to MAX taking a current value k which hides all edges of the graphs with weights < k
- A slider bar from 0 to MAX taking a current value k which displays only strongest (in weights) k clusters
- others ?

[2015-04-09 08:13] fouweric commented on #5
@agulfy Shouldn't you do sql bulk INSERT? http://stackoverflow.com/questions/12365992/sql-bulk-insert-statement

It is really faster for importing data into database :))

[2015-04-09 08:16] fouweric opened #14 "PageRank top-k analysis"
Do the page rank analysis

Input: cables
Output: top-k list

[2015-04-09 08:17] fouweric opened #15 "Build proper-noun database"
Input: plusD-database
Output: a set of table where indexes are documentsID and attributes are names, places, etc..

[2015-04-09 08:18] fouweric opened #16 "Build Subject-VerbComplement Graph"
Input: plusD-database
Output: a file (matching specifications #11) where you put an edge of weight 1 between two (Subject/VerbComplement) words (the edges) if they appear in the same sentence.

[2015-04-09 08:19] fouweric opened #17 "Build emitter-receiver graph"
Input: plusD-database
Output: a file (matching specifications #11) where you put an edge of weight 1 between each receiver and the document emitter

[2015-04-09 08:20] fouweric opened #18 "Build tag graph"
Input: plusD-database
Output: a file (matching specifications #11) where you put an edge of weight 1 between each pair of tag in each document tag­set

[2015-04-09 08:23] fouweric opened #19 "Build decent website"
Should
- have public url
- results of our research
- link to this repo
- Small homepage with project description

[2015-04-09 08:23] fouweric commented on #19
Actual (temp) link: http://lapinot.ch:8080/wikileaks/

[2015-04-09 08:45] fouweric commented on #12
Possible library:
- https://github.com/mbostock/d3/wiki/Force-Layout

Note:
- Does not consider edge weights?

Examples
- http://bl.ocks.org/mbostock/950642
- http://bl.ocks.org/mbostock/1062288
- http://bl.ocks.org/mbostock/929623
- http://bl.ocks.org/mbostock/1021841

[2015-04-09 09:18] fouweric commented on #12
The easiest way may be to build our own using d3.js
- https://github.com/mbostock/d3/wiki

And get help from
- http://bl.ocks.org/mbostock/1747543

along with the other above links of example

[2015-04-09 10:46] agulfy commented on #10
I think "bigdata2015-wikileaks-analytics" from the wiki + cluster is descriptive enough :)

[2015-04-09 10:49] agulfy commented on #5
Makes sense!

I may possibly need to change the mapper/reducer for this so I will still wait for the input mechanism to be finished.

[2015-04-09 12:14] ElSeidy commented on #5
Are you guys using SparkSQL? or is this a single instance DB?

[2015-04-09 12:39] HKassir72 commented on #9
Guys we need to decide on what the DB will be. Anybody took a look on SPARKSQL? I did and I think it will do the job. Please let us decide on that.

[2015-04-09 14:03] fouweric commented on #9
SPARKSQL will fit well! +1 for the SPARKSQL

[2015-04-09 15:30] fouweric commented on #12
Great article about d3 enter, update, exit http://bost.ocks.org/mike/join/

[2015-04-09 15:54] fouweric commented on #12
The current example ( ecc9eb3a2774f369357528bc2d825e178de1765e ) seems like a great basis for our future graph visualization. And using d3.js a good choice (light in size and number of lines to write).

[2015-04-09 17:23] ElSeidy commented on #9
:+1:

[2015-04-09 17:48] agulfy commented on #9
Alright, I suppose the output of #5 should be a csv instead of sql commands?

[2015-04-09 18:47] #11 closed

[2015-04-10 20:40] #12 closed

[2015-04-13 08:48] fouweric opened #20 "Clustering algo(s) Implementation"
Determine how to
 - Implement the clustering algorithm  for issues of [Explore cables via dependencies graph](https://github.com/fouweric/wikileaks-data-analytics/milestones/Explore%20cables%20via%20dependencies%20graphs)

[2015-04-13 14:27] fouweric commented on #20
A recursive (on sub-graphs) call of the min. cut algo with a stop condition on clusters connectivity (min. cut value) perfectly answers our needs.
It sound like a way to explore.

[2015-04-14 13:31] fouweric commented on #20
[GraphX](https://spark.apache.org/docs/latest/graphx-programming-guide.html) is the Spark library for graphs

[2015-04-14 17:34] M-Eng opened #21 "Topic classification"
# Introduction
Topic classification could be useful in the project for various things.
We could use it as a clustering algorithm #20. We could also use the result to do more advanced processing, (summarizing every topics, use the topic to find particular type of documents etc ...)

# How does it works
We would use the Latent Dirichlet Algorithm (LDA), it would work on the whole set of documents an

[2015-04-15 12:38] M-Eng commented on #21
After having trouble compiling the library from the Stanford NLP group, I found out that the new version of Spark (1.3.0) contain an implementation of LDA in the MLLIB.
But the cluster is running the 1.2.1 version do you think it's possible to do the upgrade?

[2015-04-15 12:42] CanGuzelhan commented on #21
Python has a library for LDA too. If it seems to be hard on Scala, we can switch to Python.

Envoyé depuis mon HTC

----- Reply message -----
De : "M-Eng" <notifications@github.com>
Pour : "fouweric/wikileaks-data-analytics" <wikileaks-data-analytics@noreply.github.com>
Objet : [wikileaks-data-analytics] Topic classification (#21)
Date : mer., avr. 15, 2015 14:39

After having trouble compiling th

[2015-04-15 17:35] fouweric commented on #21
@M-Eng Spark 1.2.1 does not contain the LDA algos?

[2015-04-15 17:49] M-Eng commented on #21
No it has been added in the last update.
I think it would be the easiest option (because it's already parallelize, and we don't have to do the Spark integration).

If it's not possible I have found a more recent scala library for the LDA:
http://factorie.cs.umass.edu/index.html

[2015-04-15 17:54] CanGuzelhan commented on #21
Does it have to be in Scala ? Python does the same job.

Envoyé depuis mon HTC

----- Reply message -----
De : "M-Eng" <notifications@github.com>
Pour : "fouweric/wikileaks-data-analytics" <wikileaks-data-analytics@noreply.github.com>
Cc : "Güzelhan Can" <can.guezelhan@epfl.ch>
Objet : [wikileaks-data-analytics] Topic classification (#21)
Date : mer., avr. 15, 2015 19:49

No it has been added in t

[2015-04-15 18:01] fouweric commented on #21
@ElSeidy perhaps know if there is a way

[2015-04-15 18:04] fouweric commented on #21
@CanGuzelhan Don't know if it is possible =/

[2015-04-15 18:08] CanGuzelhan commented on #21
I have been telling this for weeks. Of course it is.

Envoyé depuis mon HTC

----- Reply message -----
De : "Frédéric Ouwehand" <notifications@github.com>
Pour : "fouweric/wikileaks-data-analytics" <wikileaks-data-analytics@noreply.github.com>
Cc : "Güzelhan Can" <can.guezelhan@epfl.ch>
Objet : [wikileaks-data-analytics] Topic classification (#21)
Date : mer., avr. 15, 2015 20:04

@CanGuzelhan<htt

[2015-04-15 18:12] M-Eng commented on #21
Yes it's possible, but I don't think it will help (we still have to do the integration in Spark). I just choose Scala because I'm more familiar with it and it's more consistent with the other parts of the project that are also in Scala.

[2015-04-15 18:54] #7 closed

[2015-04-15 21:19] agulfy commented on #6
completed 30fd37fd337f206221b206b8e326c69d9c7abaae

[2015-04-15 21:19] #6 closed

[2015-04-15 21:20] agulfy commented on #9
completed 30fd37fd337f206221b206b8e326c69d9c7abaae

[2015-04-15 21:20] #9 closed

[2015-04-15 21:25] agulfy commented on #5
@fbriant if you can modify the inputfileformat such that the mapper input VALUE is a Text with the full contents of one (unmerged) html file, this task is finished :) (The key is irrelevant and can be NullWritable but I kept it as Text for now)

[2015-04-16 09:55] fbriant commented on #5
Yeah I'm going to do this right now ;-)

[2015-04-16 10:21] M-Eng commented on #21
I'm switching with Can, so I'm no longer working on this but I'll work on #15

[2015-04-16 10:54] fbriant commented on #5
Ok, I tried something.

However, I'm not sure the JSOUP library can be used for customised HTML tags (such as nb_documents, document_id and document_content).

As I have some problem right now with VPN connection with EPFL, may I ask you @agulfy to try my code ? Sorry for this inconvenience.

I followed this format :

<nb_documents> N </nb_documents>
<document_id id=DOCNAME1 />
<document_id id=DOC

[2015-04-16 11:06] agulfy commented on #5
I got
[code]

Looks like `doc.select("nb_documents")` is empty so I think JSOUP can't handle custom tags or needs some configuration.

[2015-04-16 11:13] fbriant commented on #5
Ok thanks for the information, I will take care of this !

[2015-04-16 11:18] fbriant commented on #5
So apparently, we can configure JSOUP to work without HTML specs and with XML format, thus working with custom tags.

Could you test once more @agulfy ?
Thanks for the help !

[2015-04-16 11:21] agulfy commented on #5
Hey, sorry I just used a wrong input. Ignore my previous comment - I will try again in an hour and let you know

[2015-04-16 11:23] fbriant commented on #5
Thank you ! Either way, I think you were right ;-)
By googling a bit, I found we can not parse custom tags like this with HTML specs ;-)

[2015-04-16 18:00] agulfy commented on #5
Hey @fbriant I just managed to finish the job with a few minor changes at 7b064e5f24fc4e38c7e26febd8a1602b3606e59f

But, processing one merged file (~1500-2000 cables) took around 6 minutes and we have 1050 files to process... I will see if I can increase the performance before feeding everything in to the program.

[2015-04-16 21:49] fouweric commented on #20
my 3 commits 9f36de375770c9850d473c1cb15c3c7fe3a008c8, 1dde0e35b634f19d6f5b9e10dc152a5369e62b5c, 82372d923eeb8bb1abadde9f4ee47e7041cd9ab5 are mentioning issue #21 but it is a mistake, they belong to this issue (#20)

sorry for the confusion =)

[2015-04-17 10:19] #10 closed

[2015-04-17 10:20] agulfy commented on #5
Done. You can find the data on the project folder in the cluster and some examples in the repo.

[2015-04-17 10:20] #5 closed

[2015-04-17 11:36] fouweric commented on #21
@M-Eng @CanGuzelhan [Question posted on big-data forum](http://moodle.epfl.ch/mod/forum/discuss.php?d=197066)

[2015-04-18 20:19] agulfy commented on #13
1b250472e93ae3db9ecd89bf70d523c8316845ee Added the two filters suggested but I'm not familiar with angular enough to connect variables/sliders on the front-end. Somebody else with more experience can improve it from here

[2015-04-18 21:02] fouweric commented on #13
Nice!

[2015-04-19 08:49] fouweric commented on #14
Nice! Did you produces a .json visualization file :dancers: ?

[2015-04-19 09:30] fouweric commented on #14
@agulfy I see, you have done the page rank analysis. Then, there are no graph to produce, only an top-k list.

But it is not the purpose of this issue: This issue asks for grouping documents into clusters.

[2015-04-19 09:49] fouweric opened #22 "Build references graph"
Input: plusD-database
Output: a file (matching specifications #11) where you put an edge of weight 1 between two docs(the nodes) if they have a reference linking them.

[2015-04-19 09:52] fouweric commented on #14
Ok, this issue is renamed (and issue #22 was re-created).

@agulfy Can you add the results of this analysis into either the website or at least a .txt file?

[2015-04-19 10:52] agulfy commented on #14
I built the initial graph to be processed and I thought the grouping/clustering would be completed in #20.

I can put the pagerank results on the website though.

[2015-04-19 12:01] fouweric commented on #14
#20 is "determining how" and not "implement" or "code" the clustering algo
Yes, your reference graph can be re-used in #22

[2015-04-19 12:03] fouweric commented on #20
[PIC algo seems a way of doing the clustering](https://spark.apache.org/docs/latest/mllib-clustering.html#power-iteration-clustering-pic)
However, it requieres the MLlib from spark 1.3.0

[2015-04-19 23:14] fouweric commented on #17
(tmp) Preview at http://lapinot.ch:8080/wikileaks/

[2015-04-22 09:46] xPh3n0m commented on #18
@fouweric I am trying to generate a graph using a modified version of GraphGenerator.scala for tags. However, for some reason I get an error when using spark-submit :

Exception in thread "main" java.lang.NoSuchMethodError: org.apache.spark.sql.SQLContext.implicits()Lorg/apache/spark/sql/SQLContext$implicits$;
	at GraphGenerator$.main(GraphGenerator.scala:27)
	at GraphGenerator.main(GraphGenerator

[2015-04-23 12:43] fouweric commented on #18
We saw together and found that It was a spark configuration problem.

[2015-04-23 22:44] agulfy commented on #20
Looks like this is done already with PIC. I found an alternative algorithm named [MCL](http://micans.org/mcl/), and a [scala implementation](http://cobweb.cs.uga.edu/~jam/scalation_1.0/src/main/scala/scalation/analytics/MarkovClustering.scala)
Leaving this here in case we want to experiment with something else.

Also close issue with commit 6c0853ab2c1567d2452e26e222736fff62715f98 ?

[2015-04-24 09:08] fouweric commented on #20
Do we close the issue once we have tried the algos on more graphs?

[2015-04-27 07:16] fouweric opened #23 "Graph exploration little website"

[2015-04-27 07:17] #20 closed

[2015-04-27 07:19] fouweric commented on #22
@agulfy Are you done with this page rank analysis? Are results integrated into the website?

[2015-04-27 07:19] #17 closed

[2015-04-27 07:21] fouweric commented on #16
Drop this one since #15 includes this idea

[2015-04-27 07:21] #16 closed

[2015-04-27 07:23] fouweric commented on #15
@M-Eng Is your problem with spark and java 1.8 solved? How is the work going :))) ?

[2015-04-27 07:31] fouweric opened #24 "Build Interface"
5 pages + services + routing

[2015-04-27 07:31] fouweric opened #25 "Build Server side services"
Build web-services

[2015-04-27 07:32] fouweric opened #26 "Mine the data with Spark"
Depends on the proper nouns clustering from #29

[2015-04-27 07:33] fouweric opened #27 "Transform spark RDDs into SQL tables"
Bash script

[2015-04-27 13:05] fouweric opened #28 "Beautify website"
Material design <3

[2015-04-27 13:29] #24 closed

[2015-04-27 13:51] fouweric commented on #15
Task completed.
Output is in **hdfs://projects/wikileaks/NER/fullClassification/**

`data.map(x => x.substring(1,x.size-1)).map(_.split(",")).map(t => (t(0),t(1),t(2)))`
to have a `(docId, Topic, Value)` tuple from the initial `RDD[(DocId,Tag,Value)]`

Credits go to @M-Eng

[2015-04-27 13:51] #15 closed

[2015-04-27 13:53] fouweric opened #29 "Build Proper Noun clustering"
Input: data from #15
Output: A set of subjects with their respective associated keywords (which are Proper Nouns)

[2015-04-27 20:24] M-Eng commented on #15
I have just added an extended output for this one with more tags, I think it might be useful. (**MONEY, PERCENT,DATE,TIME** plus the usual one LOCATION, PERSON,ORGANIZATION)
you can find it in
**hdfs://projects/wikileaks/NER/extendedClassification/**

[2015-04-27 21:19] fouweric commented on #15
@M-Eng I saw also the MISC tag in the old classification, did you removed it?

[2015-04-28 08:22] M-Eng commented on #15
No you are right the old classification also contain a MISC tag, but the new one does not. You can use both classification (I haven't removed the old one) but they are done with different models which mean that for the same tags the results might be slightly different.

[2015-04-28 18:39] HKassir72 commented on #27
https://spark.apache.org/docs/latest/sql-programming-guide.html#parquet-files

[2015-04-29 12:55] fouweric commented on #27
Ty ;D

[2015-04-29 13:22] xPh3n0m commented on #18
Added json files for tags in /website/graphs/tags_graphs

However, I have issues viewing the current index.html file, and thus to test my graphs. I get Uncaught ReferenceError: angular is not defined when opening the file from my localhost. Any ideas?

[2015-04-29 13:29] xPh3n0m commented on #18
Ok it works with firefox. I added the tags graphs in index.html, but it doesn't seem to show anything relevant...

[2015-05-02 11:35] #13 closed

[2015-05-02 11:35] #19 closed

[2015-05-02 12:15] ketjuni2 commented on #26
@fouweric  see the abbreviation data on the project folder in the cluster  hdfs:///projects/wikileaks/wardiary-csv/abbreviations.txt

[2015-05-02 16:22] fouweric commented on #26
@ketjuni2 Very useful! Thanks!

[2015-05-03 11:15] #27 closed

[2015-05-04 08:43] fouweric commented on #26
Actual data size is 300MB, no need to run this code on the cluster (as I did until now..)

[2015-05-05 12:28] #25 closed

[2015-05-06 13:18] fouweric commented on #23
merging with wikilynx.org #28

[2015-05-06 13:18] #23 closed

[2015-05-06 13:19] fouweric commented on #29
On

[2015-05-06 13:19] #29 closed

[2015-05-10 12:28] fouweric commented on #15
@M-Eng I am exploring the LOCATIONs produced by your NER.fullClassification analysis, and there are a lot of double or even triple concatenated locations.
e.g. Jamaica Jamaica, Jamaica Mexico, Jamaica Washington
I even found: "Washington Chicago S Francisco Los Angeles Washington" as a location entry

**Can you do something about this issue?**

Also, there often appears a declination of the same l

[2015-05-10 13:05] M-Eng commented on #15
I have the same issue with the transaction analysis. The concatenation come from the fact that the document are not only text. For example the header of table might be concatenated to a single Location.
And I don't know how to solve this, I don't have much control on the NER, one solution would be to discard the weird Location (but how to detect them?). Another way would be to only keep cable that

[2015-05-11 07:10] #26 closed

[2015-05-11 07:15] #28 closed

[2015-05-11 07:16] fouweric opened #30 "Acronym search bar"

[2015-05-11 07:17] fouweric opened #31 "Related documents link"
Example:
Francois Hollande & Pierre Moskovici are mentioned together in which documents?

[2015-05-11 17:50] CanGuzelhan commented on #21
Soon, topics should be extracted from contents. Is there any way to make a graph where we choose some topics and see which documents are linked according to chosen topics ?

[2015-05-13 07:01] #30 closed

[2015-05-13 07:01] #31 closed

[2015-05-23 09:00] #22 closed

[2015-05-23 09:00] #21 closed

[2015-05-23 09:00] #18 closed

[2015-05-23 09:01] #14 closed

[2015-05-25 19:01] fouweric opened #32 "Unified searching bar"
Merge 3 search bars into One

[2015-05-25 19:03] fouweric opened #33 "Remove useless stuff"

[2015-05-25 19:03] fouweric opened #34 "Bring UI to an acceptable design standard"

[2015-05-25 19:05] fouweric opened #35 "An acceptable Readme"

[2015-05-25 19:08] fouweric opened #36 "Output files should not be versioned"

[2015-07-07 23:09] fouweric opened #37 "One JS and CSS file for the UI"
For faster and lighter page load
- [ ] Build Grunt tasks